__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Environments
.venv/
venv/
env/
.conda/

# Local datasets, model weights, and experiment outputs
# datasets/
# runs/
*.pt
brain-tumor.yaml
yolo*.pt

# Local editor/system files
.DS_Store
.idea/
.vscode/
.codex/
